.imageList {
  position: relative;
  width: 100%;
  height: 100%;

  li {
    opacity: 0;
    transition: opacity .2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .showImage {
    opacity: 1;
    transition: opacity .4s ease-out;
    background: $white;
  }
}
