/* stylelint-disable selector-class-pattern  */
/* stylelint-disable no-descending-specificity  */
/* stylelint-disable selector-max-compound-selectors  */
/* stylelint-disable max-nesting-depth  */

.select {
  position: relative;
  font-size: $fontSizeBase;

  :global(input::-webkit-contacts-auto-fill-button),
  :global(input::-webkit-credentials-auto-fill-button),
  :global(input::-ms-clear),
  :global(input::-ms-reveal) {
    display: none !important; /* stylelint-disable-line */
  }

  &.error {
    > div {
      border-color: $errorColor !important; /* stylelint-disable-line */
    }
  }

  div,
  input,
  span {
    box-sizing: border-box;
  }

  &:global(.is-disabled) {
    :global(.Select-arrow-zone) {
      cursor: default;
      pointer-events: none;
      opacity: .35;
    }

    > :global(.Select-control) {
      background-color: $alabaster;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &:global(.is-open) {
    > :global(.Select-control) {
      background: $white;
      border-color: $nobel $silver $iron;

      :global(.Select-arrow) {
        top: -2px;
        border-color: transparent transparent $dustyGray; /* stylelint-disable-line */
        border-width: 0 5px 5px;
      }

      :global(.Select-control) {
        cursor: text;
      }
    }
  }

  &:global(.is-searchable.is-focused:not(.is-open)) {
    > :global(.Select-control) {
      cursor: text;
    }
  }

  &:global(.is-focused) {
    > :global(.Select-control) {
      background: $white;

      @if $THEME == galaxus {
        border-color: $black;
      } @else {
        border-color: $allports;
      }
    }

    :global(.Select-menu-outer) {
      @if $THEME == galaxus {
        border-top-color: $black;
      } @else {
        border-top-color: $allports;
      }
    }

    :global(.Select-input) {
      > input {
        cursor: text;
      }
    }

    &:global(.is-pseudo-focused .Select-input) {
      opacity: 0;
    }
  }

  &:global(.is-focused:not(.is-open)) {
    > :global(.Select-control) {
      @if $THEME == galaxus {
        border-color: $black;
      } @else {
        border-color: $allports;
      }
      background: $white;
    }
  }

  &:global(.has-value) {
    &:global(.is-clearable.Select--single > .Select-control .Select-value) {
      padding-right: 42px;
    }

    /* stylelint-disable */
    &:global(.Select--single > .Select-control .Select-value .Select-value-label),
    &:global(.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label) {
      display: inline-block;
      overflow: hidden;
      color: $mineShaft;
      font-size: 13px;
      max-width: calc(100% - 15px);
      text-overflow: ellipsis;
    }
    /* stylelint-enable */
    &:global(.Select--single > .Select-control .Select-value a.Select-value-label),
    &:global(.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label) {
      cursor: pointer;
      text-decoration: none;
    }
    &:global(.Select--single > .Select-control .Select-value a.Select-value-label:hover),
    &:global(.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover),
    &:global(.Select--single > .Select-control .Select-value a.Select-value-label:focus),
    &:global(.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus) {
      color: $mariner;
      outline: none;
      text-decoration: underline;
    }
    &:global(.Select--single > .Select-control .Select-value a.Select-value-label:focus),
    &:global(.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus) {
      background: $white;
    }
    &:global(.is-pseudo-focused .Select-input) {
      opacity: 0;
    }
  }
  &:global(.is-open .Select-arrow),
  :global(.Select-arrow-zone:hover > .Select-arrow) {
    border-top-color: $doveGray;
  }
  :global(.Select--rtl) {
    direction: rtl;
    text-align: right;
  }
  :global(.Select-control) {
    background-color: $white;
    border-color: $nobel;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: pxToRem(36);
    border: 1px solid $silver;
    color: $mineShaft;
    border-spacing: 0;
    border-collapse: separate;
    outline: none;
    cursor: pointer;
    &:hover {
      /* box-shadow: 0 1px 0 rgba(0, 0, 0, .06); */
    }
    :global(.Select-input:focus) {
      outline: none;
      background: #fff;
    }
    > *:last-child {
      padding-right: pxToRem(6);
    }
  }
  :global(.Select-control:not(.is-searchable) > .Select-input) {
    outline: none;
  }
  :global(.Select-placeholder),
  &:global(.Select--single > .Select-control .Select-value) {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: $black;
    line-height: pxToRem(34);
    padding-left: pxToRem(10);
    padding-right: pxToRem(20);
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :global(.Select-placeholder) {
    color: $dustyGray;
    line-height: pxToRem(34);
  }
  /* stylelint-disable */
  :global(.Select-input) {
    height: pxToRem(34);
    line-height: pxToRem(34);
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    > input {
      display: inline-block;
      width: 100%; /* For IE 8 compatibility */
      padding: 0;
      border: 0 none;
      margin: 0;
      background: none transparent;
      box-shadow: none;
      font-family: inherit;
      font-size: inherit;
      outline: none; /* For IE 8 compatibility */
      -webkit-appearance: none;
      cursor: default;
    }
  }
  /* stylelint-enable */
  :global(.Select-loading-zone) {
    position: relative;
    display: table-cell;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  :global(.Select-loading) {
    margin-right: $spacingSmall;
  }
  :global(.Select-clear-zone) {
    animation: fadeIn 200ms;
    position: relative;
    display: table-cell;
    width: 17px;
    color: $dustyGray;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      color: $monza;
    }
  }
  :global(.Select-clear) {
    display: inline-block;
    font-size: $fontSizeBig;
    line-height: 1;
  }
  :global(.Select--multi .Select-clear-zone) {
    width: 17px;
  }
  :global(.Select-arrow-zone) {
    position: relative;
    display: table-cell;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding-right: pxToRem(7);
    padding-top: 4px;
    cursor: pointer;
    svg {
      margin-top: -6px;
    }
    @media (min-width: $breakpointMdMin) {
      padding-top: 3px;
    }
  }
  :global(.Select--rtl .Select-arrow-zone) {
    padding-right: 0;
    padding-left: 5px;
  }
  :global(.Select-arrow) {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: $dustyGray transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }
  :global(.Select--multi .Select-multi-value-wrapper) {
    display: inline-block;
  }
  :global(.Select .Select-aria-only) {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    float: left;
  }
  :global(.Select-menu-outer) {
    position: absolute;
    z-index: $zIndexMenuItemDropdown;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: $white;
    border: 1px solid $silver;
    border-top-color: $mercury;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    margin-top: -1px;
    max-height: 200px;
    -webkit-overflow-scrolling: touch;
  }
  :global(.Select-menu) {
    max-height: 198px;
    overflow-y: auto;
  }
  :global(.Select-noresults) {
    display: block;
    box-sizing: border-box;
    padding: 8px 10px;
    color: $dustyGray;
    cursor: default;
  }
  &:global(.Select--multi) {
    :global(.Select-input) {
      vertical-align: middle;
      margin-left: 10px;
      padding: 0;
    }
    &:global(.Select--rtl .Select-input) {
      margin-left: 0;
      margin-right: 10px;
    }
    &:global(.has-value .Select-input) {
      margin-left: 5px;
    }
    :global(.Select-value) {
      display: inline-block;
      background-color: $gallery;
      border-radius: 4px;
      border: 1px solid $gallery;
      color: $black;
      font-size: $fontSizeBase;
      line-height: 1.4;
      margin-left: pxToRem(4);
      margin-top: pxToRem(4);
      vertical-align: top;
      &.option {
        padding: 0;
      }
    }
    :global(.Select-value-icon),
    :global(.Select-value-label) {
      display: inline-block;
      vertical-align: middle;
    }
    :global(.Select-value-label) {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      padding: 2px 5px;
      cursor: default;
    }
    :global(a.Select-value-label) {
      color: $mariner;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    :global(.Select-value-icon) {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      padding: pxToRem(2) pxToRem(5) pxToRem(2);
      font-size: pxToRem(20);
      line-height: pxToRem(20);
      cursor: pointer;
      float: right;
      @if $THEME == digitec {
        color: $primaryColor;
      }
      &:hover,
      &:focus {
        @if $THEME == digitec {
          background-color: $gallery;
          color: $monza;
        } @else {
          background-color: $nobel;
          color: $white;
        }
      }
      &:active {
        background-color: $botticelli;
      }
      @media (min-width: $breakpointMdMin) {
        padding: pxToRem(1) pxToRem(5) pxToRem(3);
      }
    }
    &:global(.Select--rtl .Select-value) {
      margin-left: 0;
      margin-right: 5px;
    }
    &:global(.Select--rtl .Select-value-icon) {
      border-right: none;
      border-left: 1px solid $botticelli;
    }
    &:global(.is-disabled) {
      :global(.Select-value) {
        background-color: $alabaster;
        border: 1px solid $alto;
        color: $dustyGray;
      }
      :global(.Select-value-icon) {
        cursor: not-allowed;
        border-right: 1px solid $mercury;
      }
      :global(.Select-value-icon:hover),
      :global(.Select-value-icon:focus),
      :global(.Select-value-icon:active) {
        background-color: $lightGray;
      }
    }
  }
}
/* stylelint-disable */
.option {
  display: block;
  box-sizing: border-box;
  background-color: $white;
  padding: 8px 10px;
  color: $doveGray;
  font-size: 13px;
  cursor: pointer;
  > div {
    margin-bottom: 0;
  }
  &:global(.is-selected) {
    color: $mineShaft;
  }
  &:global(.is-focused:not(.is-selected)) {
    svg {
      display: none;
    }
  }
  &:global(.is-focused) {
    background-color: $wildSand;
    color: $mineShaft;
  }
  &:global(.is-disabled) {
    color: $silver;
    cursor: default;
  }
}
/* stylelint-enable */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
