/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import './lib/@postcss/globalCss/reset.css';
@import './lib/@postcss/globalCss/fonts.css';
@import './lib/@postcss/globalCss/layout.css';
@import './lib/@postcss/globalCss/elements.css';

:global(.ssrOnly) {
  position: absolute;
  z-index: $zIndexSsrOnly;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: $spacingBase;
  background: $primaryColor;
  color: $white;
  text-align: left;

  &:active,
  &:focus,
  &:hover {
    top: 0;
    left: 0;
    overflow: visible;
    width: auto;
    height: auto;
  }
}
