.logoSmall {
  width: $spacingGrande;
  height: $spacingGrande;
}

.nonSticker {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: $spacingSmall;
}

.sticker {
  position: absolute;
  z-index: $zIndexTop;
  right: 5px;
  bottom: 7px;
  overflow: hidden;
  cursor: pointer;
}
