.h1 {
  position: relative;
  color: $logoText;
  text-align: center;
  padding-bottom: $spacingMedium;
  margin-bottom: $spacingGrande;
  margin-top: 0;
}

.logoContainer {
  display: block;
  height: 136px;
  text-align: center;
}

.logoTitle {
  position: relative;
  z-index: $zIndexMedium;
}
