.layout {
  position: relative;
  height: 100%;
  padding: $spacingBig 0 0;
  color: $lightGray;
}

.content {
  overflow: auto;
  height: calc(100vh - 65px);
}

.dragArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  -webkit-app-region: drag;
}
